.box {
  width: 26.6em;
  border: 1px solid black;
  border-bottom-color: #666;
  border-right-color: #666;
  padding: 0.5em;
  background-color: #bbb;
  border-radius: 0.5em;
  margin: 0.5em;
}

.input {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 0.2em;
  align-items: center;
  border: 1px solid #333;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0 0.4em;
  background-color: #ddd;
  height: 2em;
}

.input select {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 0.5em;
  font-family: inherit;
}

.dice {
  font-size: 4em;
  line-height: 1em;
}

.resultDice {
  position: relative;
  display: inline-block
}

.d10Value {
  position: absolute;
  top: 1.05em;
  left: 1.4em;
  color: white;
  transform: rotate(47deg);
  width: 1.5em;
  text-align: center;
  font-size: 1.1em;
}

.actions button {
  border: 1px solid #333333;
  border-radius: 0.5em;
  background-color: #dddddd;
  display: inline-block;
  height: 2em;
  margin: 0.2em;
  padding: 0 0.45em;
}

.dicebox {
  border: 1px solid #333333;
  border-radius: 0.5em;
  background-color: #dddddd;
  min-height: 15em;
  padding: 0.5em;
  margin: 0.2em;
}
