<div class="box">
  <div *ngIf="metadata.dice!.throws!.length > 1">
    <select #inputThrow (change)="selectThrow(metadata.dice!.throws[inputThrow.selectedIndex])">
      <ng-container *ngFor="let throwOption of metadata.dice!.throws">
        <option *ngIf="activeThrow === throwOption" selected>{{ throwOption.name }}</option>
        <option *ngIf="activeThrow !== throwOption">{{ throwOption.name }}</option>
      </ng-container>
    </select>
  </div>
  <div class="actions">
    <button (click)="addDice(1)">
      <fa-icon [icon]="iconPlus"/>
      <app-icon [icon]="iconD10" *ngIf="activeThrow.dice == 10"/>
    </button>
    <button (click)="removeDice(1)" [disabled]="diceThrown || dicePool.length == 0">
      <fa-icon [icon]="iconMinus"/>
      <app-icon [icon]="iconD10" *ngIf="activeThrow.dice == 10"/>
    </button>
    <button (click)="resetPool()">
      <fa-icon [icon]="iconReset"/>
    </button>
    <button (click)="throwDice()">
      <fa-icon [icon]="iconThrow"/>
      Lancer {{ dicePool.length || 1 }} D{{ activeThrow.dice }}
    </button>
    <button (click)="throwDice(false)" *ngIf="diceThrown">
      <fa-icon [icon]="iconThrow"/>
      Relancer {{ dicePool.length || 1 }} D{{ activeThrow.dice }}
    </button>
  </div>
  <div class="inputs">
    <div *ngFor="let input of activeThrow.input | keyvalue" class="input">
      <div class="title">{{ input.value.name }}</div>
      <select *ngIf="input.value.type === 'select'" #selectInput (change)="updateInput(input.key, selectInput.value)">
        <ng-container *ngFor="let value of input.value.values">
          <option *ngIf="inputs[input.key] === value.value" value="{{ value.value }}" selected>{{ value.name }}</option>
          <option *ngIf="inputs[input.key] !== value.value" value="{{ value.value }}">{{ value.name }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div *ngIf="!diceThrown">
    <ng-container *ngFor="let dice of dicePool">
      <app-icon *ngIf="activeThrow.dice === 10" [icon]="iconD10" class="dice"/>
      <div *ngIf="activeThrow.dice === 6">D6</div>
      <div *ngIf="activeThrow.dice === 20">D20</div>
      <div *ngIf="![6, 10, 20].includes(activeThrow.dice)">D{{ activeThrow.dice }}</div>
    </ng-container>
  </div>
  <div *ngIf="diceThrown">
    <ng-container *ngFor="let dice of dicePool">
      <div *ngIf="activeThrow.dice === 10" class="resultDice">
        <app-icon [icon]="iconD10" class="dice"/>
        <div class="d10Value">{{ dice }}</div>
      </div>
      <div *ngIf="activeThrow.dice === 6">{{ dice }}</div>
      <div *ngIf="activeThrow.dice === 20">{{ dice }}</div>
      <div *ngIf="![6, 10, 20].includes(activeThrow.dice)">{{ dice }}</div>
    </ng-container>
    <div *ngIf="numberResult !== undefined">Resultat {{ numberResult }}</div>
    <div *ngIf="booleanResult !== undefined">Resultat {{ booleanResult }}</div>
  </div>
</div>