<div class="health">
  <div class="title">{{ value.name }}</div>
  <div *ngIf="isEdit" class="edit">
    <div *ngFor="let level of levels">
      <button (click)="minus(level)" class="button">
        <fa-icon [icon]="iconMinus"/>
      </button>
      <app-icon [icon]="icons[level]"/>
      <button (click)="plus(level)" class="button">
        <fa-icon [icon]="iconPlus"/>
      </button>
    </div>
  </div>
  <div *ngFor="let value of values" class="level">
    <div *ngIf="value.name" class="name">{{ value.name }}</div>
    <div *ngIf="value.tip" class="tip">{{ value.tip }}</div>
    <div class="value">
      <app-icon [icon]="icons[value.level]"/>
    </div>
  </div>
</div>
