<div class="double-scale">
  <div class="name" *ngIf="value.name">{{ value.name }}</div>
  <div class="values">
    <div class="first {{ viewMode === mode.Dice ? 'dice' : '' }}">
      <ng-container *ngFor="let i of values">
        <app-icon *ngIf="iconFirstFull && iconFirstEmpty" [icon]="i <= scoreFirst ? iconFirstFull! : iconFirstEmpty!" (click)="clickFirst(i)"/>
        <fa-icon *ngIf="!(iconFirstFull && iconFirstEmpty)" [icon]="i <= scoreFirst ? iconDotFill : iconDotEmpty" (click)="clickFirst(i)"/>
    </ng-container>
  </div>
    <div class="second {{ viewMode === mode.Dice ? 'dice' : '' }}">
      <ng-container *ngFor="let i of values">
        <app-icon *ngIf="iconSecondFull && iconSecondEmpty" [icon]="i <= scoreSecond ? iconSecondFull! : iconSecondEmpty!" (click)="clickSecond(i)"/>
        <fa-icon *ngIf="!(iconSecondFull && iconSecondEmpty)" [icon]="i <= scoreSecond ? iconSquareFill : iconSquareEmpty" (click)="clickSecond(i)"/>
      </ng-container>
    </div>
  </div>
</div>
