.name {
  text-align: center;
}

.values {
  display: table;
  margin: 0 auto;
}

.first, .second {
  display: table-row;
}

.first fa-icon, .second fa-icon, .first app-icon, .second app-icon {
  display: table-cell;
  padding: 0 0.2em;
}

.dice:hover {
  background-color: orange;
  cursor: pointer;
}

.button {
  cursor: pointer;
}
