/* You can add global styles to this file, and also import other style files */

html {
  background-color: #333;
  font-size: 0.9em;
}

textarea, input[type=text] {
  border: 1px solid #999999;
  border-top-color: #666666;
  border-left-color: #666666;
  background-color: rgba(white, 25%);
}

textarea {
  width: calc(100% - 0.5em);
  resize: none;
}

input[type=text] {
  height: 1.3em;
  width: calc(100% - 0.5em);
}

a {
  color: inherit;
}

@media print {
  html {
    background-color: inherit;
  }
}