.number {
  display: grid;
  grid-template-columns: max-content auto;
}

.value {
  border: none;
  width: calc(100% - 0.5em - 2em);
  margin-left: 2em;
  text-align: right;
}

input.value {
  height: 1.3em;
  border: 1px solid #999999;
  border-top-color: #666666;
  border-left-color: #666666;
  background-color: rgba(white, 25%);
}
