<app-text *ngIf="editorType === 'text'"
  [sheet]="sheet"
  [value]="value"
  [viewMode]="viewMode"/>
<app-dots *ngIf="editorType === 'dots'"
  [sheet]="sheet"
  [value]="value"
  [editorCode]="editor"
  [metadata]="metadata"
  [viewMode]="viewMode"/>
<app-squares *ngIf="editorType === 'squares'"
  [sheet]="sheet"
  [value]="value"
  [editorCode]="editor"
  [metadata]="metadata"
  [viewMode]="viewMode"/>
<app-dots-squares *ngIf="editorType === 'dots_squares'"
  [sheet]="sheet"
  [value]="value"
  [editorCode]="editor"
  [metadata]="metadata"
  [viewMode]="viewMode"/>
<app-health *ngIf="editorType === 'health'"
  [sheet]="sheet"
  [value]="value"
  [editorCode]="editor"
  [metadata]="metadata"
  [viewMode]="viewMode"/>
