.sheet {
  width: 21cm;
  padding: 2em;
  box-sizing: border-box;
  font-size: 0.95em;
  background-image:url(/img/scroll-1.png);
  background-size: 100% 100%;
}

.rows {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.8em;
}

.actions {
  text-align:right;
}

.actions button {
  border: 1px solid #333333;
  border-radius: 0.5em;
  background-color: #dddddd;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0.2em;
}

.actions button.delete {
  animation: dblink 1.2s infinite;
}

@keyframes dblink {
  0%,50% {background-color: #cc0000;}
  50%,75% {background-color: #dddddd;}
  75%,100% {background-color: #cc0000;}
}

.actions button.save {
  animation: sblink 1.2s infinite;
}

@keyframes sblink {
  0%,50% {background-color: #00cc00;}
  50%,75% {background-color: #dddddd;}
  75%,100% {background-color: #00cc00;}
}
