<div *ngIf="metadata && sheet">
  <div class="actions">
    <button *ngIf="!isEdit && !isDelete" (click)="edit()"><fa-icon [icon]="iconEdit"/> Editer</button>
    <button *ngIf="isEdit" (click)="save()"><fa-icon [icon]="iconSave"/> Sauvegarger</button>
    <button *ngIf="!isEdit && !isDelete" (click)="delete()"><fa-icon [icon]="iconDelete"/> Supprimer</button>
    <button *ngIf="isDelete" (click)="delete()" class="delete"><fa-icon [icon]="iconDelete"/> Supprimer</button>
    <button *ngIf="isEdit || isDelete" (click)="cancel()"><fa-icon [icon]="iconCancel"/> Annuler</button>
  </div>
  <div class="sheet rows">
    <app-row *ngFor="let gridRow of metadata.gridRows"
      [row]="gridRow"
      [metadata]="metadata"
      [sheet]="sheet"
      [viewMode]="viewMode"/>
  </div>
</div>
<div *ngIf="isNewSheet">
  <select #sheetGame>
    <option *ngFor="let game of games" value="{{ game.code }}">{{ game.name }}</option>
  </select>
  <button (click)="newSheet(this.sheetGame.value)">Créer</button>
</div>
