<div *ngFor="let row of rows" class="row {{ viewMode === mode.Edit ? 'edit' : '' }} {{ row.name && viewMode === mode.Dice ? 'dice' : '' }}">
  <div *ngIf="viewMode !== mode.Edit" class="name">{{ row.name }}</div>
  <div *ngIf="viewMode === mode.Edit && value.hint"><input class="value" #textInput type="text" (change)="updateRow(row.index, textInput.value)" value="{{ row.name }}" [attr.list]="inputId"/></div>
  <div *ngIf="viewMode === mode.Edit && !value.hint"><input class="value" #textInput type="text" (change)="updateRow(row.index, textInput.value)" value="{{ row.name }}"/></div>
  <div class="values">
  <app-icon *ngFor="let i of values" [icon]="i <= row.value ? iconFull : iconEmpty"  (click)="clickValue(row.index, i)" class="{{ viewMode === mode.Edit ? 'button' : '' }}"/>
</div>
</div>
<datalist id="{{ inputId }}" *ngIf="viewMode === mode.Edit && value.hint">
  <option *ngFor="let hint of hints" [value]="hint">
</datalist>
