<div *ngFor="let row of rows" class="row {{ viewMode === mode.Edit ? 'edit' : '' }} {{ row.name && viewMode === mode.Dice ? 'dice' : '' }}" (click)="clickDice(row.value)">
  <div class="note">
    <ng-container *ngIf="row.name && (row.note || viewMode === mode.Edit)">
      <app-icon class="note" *ngIf="viewMode !== mode.Edit" [icon]="iconNote" [tooltip]="row.note"></app-icon>
      <app-icon class="edit" *ngIf="viewMode === mode.Edit" [icon]="row.note ? iconNote : iconNoNote" (click)="editNote(row.index, noteInput);" class="editNote"></app-icon>
      <div class="editNote {{ viewMode == mode.Edit && row.isEditNote ? 'edit' : ''}}">
        <textarea #noteInput (blur)="confirmNote(row.index, noteInput.value)">{{ row.note }}</textarea>
      </div>  
    </ng-container>
  </div>
  <div *ngIf="viewMode !== mode.Edit" class="name">{{ row.name }}</div>
  <div *ngIf="viewMode === mode.Edit && value.hint"><input class="value" #textInput type="text" (change)="updateRow(row.index, textInput.value)" value="{{ row.name }}" [attr.list]="inputId"/></div>
  <div *ngIf="viewMode === mode.Edit && !value.hint"><input class="value" #textInput type="text" (change)="updateRow(row.index, textInput.value)" value="{{ row.name }}"/></div>
  <div class="values">
    <app-icon *ngFor="let i of values" [icon]="i <= row.scores[0] ? iconFull : i <= row.scores[1] ? iconMinus : i <= row.scores[2] ? iconPlus : iconEmpty"  (click)="clickValue(row.index, i)" class="{{ viewMode === mode.Edit ? 'button' : '' }}"/>
  </div>
</div>
<datalist id="{{ inputId }}" *ngIf="viewMode === mode.Edit && value.hint">
  <option *ngFor="let hint of hints" [value]="hint">
</datalist>
