.value {
  width: calc(100% - 0.7em);
  height: 1.3em;
  border: 1px solid #999999;
  border-top-color: #666666;
  border-left-color: #666666;
  background-color: rgba(255, 255, 255, 25%);
}

.name {
  border-bottom: 1px solid #666666;
}

.values {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 0.1em;  
}

.row {
  display: grid;
  grid-template-columns: max-content auto max-content;
  height: 1.5em;
}

.row.edit {
  width: 100%;
}

.dice:hover {
  background-color: orange;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

app-icon.editNote {
  position: relative;
}

div.editNote {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

div.editNote.edit {
  display: inherit;
}

div.editNote textarea {
  resize: both;
  width: 20em;
  height: 10em;
}

div.note {
  border-bottom: 1px solid #666666;
}

div.note app-icon {
  margin-right: 0.2em;
}

div.note app-icon.note {
  cursor: inherit;
}

div.note app-icon.edit {
  cursor: pointer;
}
