<div class="rows {{ viewMode === ViewMode.Play || viewMode === ViewMode.Dice ? 'clickable' : '' }} {{ (viewMode === ViewMode.Play || viewMode === ViewMode.Dice) && selected ? 'selected' : '' }}" (click)="(viewMode === ViewMode.Play || viewMode === ViewMode.Dice) && selectState()">
  <div *ngFor="let row of state.rows">
    <div *ngIf="row.type === 'title'" class="title">{{ sheet.resolve(row.name) }}</div>
    <div *ngIf="row.type === 'note'" class="note">{{ sheet.resolve(row.name) }}</div>
    <div *ngIf="row.type === 'spacer'" class="spacer"></div>
  </div>
</div>
