<div class="dots {{ viewMode === mode.Dice ? 'dice' : '' }} {{ value.name ? '' : 'unamed' }}">
  <ng-container *ngIf="value.nameValue">
    <div class="name" *ngIf="viewMode !== mode.Edit">{{ name }}</div>
    <input #nameInput type="text" class="name" *ngIf="viewMode === mode.Edit" value="{{ name }}" (change)="updateName(nameInput.value)" />
  </ng-container>
  <ng-container *ngIf="!value.nameValue">
    <div class="name" *ngIf="name">{{ name }}</div>
  </ng-container>
  <div class="values">
    <fa-icon [icon]="i <= score ? iconDotFill : iconDotEmpty" *ngFor="let i of values" (click)="clickDot(i)" class="{{ viewMode === mode.Edit ? 'button' : '' }}"/>
  </div>
</div>
