<div class="row" *ngFor="let row of rows">
  <ng-container *ngIf="viewMode === mode.Edit || !row.isEditFreeRow">
    <div class="note">
      <ng-container *ngIf="row.name && (row.note || viewMode === mode.Edit)">
        <app-icon class="note" *ngIf="viewMode !== mode.Edit" [icon]="iconNote" [tooltip]="row.note"></app-icon>
        <app-icon class="edit" *ngIf="viewMode === mode.Edit" [icon]="row.note ? iconNote : iconNoNote" (click)="editNote(row.index, noteInput);" class="editNote"></app-icon>
        <div class="editNote {{ viewMode == mode.Edit && row.isEditNote ? 'edit' : ''}}">
          <textarea #noteInput (blur)="confirmNote(row.index, noteInput.value)">{{ row.note }}</textarea>
        </div>
      </ng-container>
    </div>
    <div *ngIf="viewMode !== mode.Edit" class="value">{{ row.name }}</div>
    <input *ngIf="viewMode === mode.Edit && value.hint" #textValue class="value edit" type="text" (change)="updateRow(row.index, textValue.value)" value="{{ row.name }}" [attr.list]="inputId"/>
    <input *ngIf="viewMode === mode.Edit && !value.hint" #textValue class="value edit" type="text" (change)="updateRow(row.index, textValue.value)" value="{{ row.name }}"/>
  </ng-container>
</div>
<datalist id="{{ inputId }}" *ngIf="viewMode === mode.Edit && value.hint">
  <option *ngFor="let hint of value.hint" [value]="hint">
</datalist>
