.value {
  border: none;
  border-bottom: 1px solid #666666;
  width: 100%;
  height: 1.325em;
  line-height: 1.25;
}

.value.edit {
  height: 1.3em;
  border: 1px solid #999999;
  border-top-color: #666666;
  border-left-color: #666666;
  background-color: rgba(white, 25%);
  width: calc(100% - 0.5em);
}
