<div *ngFor="let row of rows">
  <div *ngIf="viewMode !== mode.Edit" class="value">{{ row.name }}</div>
  <input *ngIf="viewMode === mode.Edit && value.hint" #textValue class="value edit" type="text" (change)="updateRow(row.index, textValue.value)" value="{{ row.name }}" [attr.list]="inputId"/>
  <input *ngIf="viewMode === mode.Edit && !value.hint" #textValue class="value edit" type="text" (change)="updateRow(row.index, textValue.value)" value="{{ row.name }}"/>
</div>
<datalist id="{{ inputId }}" *ngIf="viewMode === mode.Edit && value.hint">
  <option *ngFor="let hint of value.hint" [value]="hint">
</datalist>
