.login-container {
  background-color: white;
  border: 1px solid #333333;
  border-radius: 0.5em;
  width: 12em;
  margin: 0 auto;
  margin-top: 12em;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 1em;
}

.button {
  grid-column: 1 / span 2;
  text-align: center;
}

input.login {
  width: 10.8em;
}

