<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <fa-icon [icon]="iconUsername"/>
            <input type="text" class="login" formControlName="username" [ngClass]="{'is-invalid': submitted}"
        placeholder="User name">
    </div>
    <div>
      <fa-icon [icon]="iconPassword"/>
      <input type="password" class="login" formControlName="password" [ngClass]="{'is-invalid': submitted}"
        placeholder="Password">
    </div>
    <div>
      <button class="login" [disabled]="loading">
        <fa-icon [icon]="iconLogin"/>
        Connexion
      </button>
    </div>
  </form>
</div>