<div class="actions">
  <button *ngIf="isAdmin && viewMode === mode.View" [routerLink]="['/users']"><fa-icon [icon]="iconUsers" title="Liste"/></button>
  <button *ngIf="viewMode === mode.Edit" (click)="save()"><fa-icon [icon]="iconSave" title="Sauvegarder"/></button>
  <button *ngIf="viewMode === mode.View" (click)="edit()" title="Editer"><fa-icon [icon]="iconEdit"/></button>
  <button *ngIf="!isMe && viewMode === mode.View" (click)="delete()"><fa-icon [icon]="iconDelete" title="Supprimer"/></button>
  <button *ngIf="!isMe && viewMode === mode.Delete" (click)="delete()" class="delete"><fa-icon [icon]="iconDelete" title="Supprimer"/></button>
  <button *ngIf="viewMode === mode.Edit || viewMode === mode.Delete" (click)="cancel()"><fa-icon [icon]="iconCancel" title="Annuler"/></button>
</div>
<div *ngIf="!isCreation" class="user">
  <div>Username</div>
  <div>
    <input *ngIf="viewMode !== mode.Edit && username" readonly="" #inputUsername type="text" value="{{ user.username }}">
    <input *ngIf="viewMode === mode.Edit || !username" #inputUsername type="text" value="{{ user.username }}" (change)="user.username = inputUsername.value">
  </div>
  <div>Alias</div>
  <div>
    <input *ngIf="viewMode !== mode.Edit" readonly="" #inputAlias type="text" value="{{ user.alias }}" (change)="user.alias = inputAlias.value">
    <input *ngIf="viewMode === mode.Edit" #inputAlias type="text" value="{{ user.alias }}" (change)="user.alias = inputAlias.value">
  </div>
  <div *ngIf="isAdmin">Roles</div>
  <div *ngIf="isAdmin && viewMode === mode.Edit && !isMe">
    <div *ngFor="let role of roles">
      <input #roleInput *ngIf="user?.roles?.includes(role)" checked="" type="checkbox" id="role_{{ role }}" (change)="updateRole(role, roleInput.checked)">
      <input #roleInput *ngIf="!user?.roles?.includes(role)" type="checkbox" id="role_{{ role }}" (change)="updateRole(role, roleInput.checked)">
      <label for="role_{{ role }}">{{ role }}</label>
    </div>
  </div>
  <div *ngIf="isAdmin && (isMe || viewMode !== mode.Edit)">
    <div *ngFor="let role of roles">
      <div *ngIf="user?.roles?.includes(role)">{{ role }}</div>
    </div>
  </div>
  <div *ngIf="viewMode === mode.View">
    <button (click)="viewMode = mode.Password">Modifier le mot de passe</button>
  </div>
  <div *ngIf="viewMode === mode.Password && (isAdmin || isMe)">
    <div *ngIf="isMe">Ancien mot de passe</div>
    <div *ngIf="isMe">
      <input #oldPassword type="password" value="" (change)="changePassword('old', oldPassword.value)">
    </div>
    <div>Nouveau mot de passe</div>
    <div>
      <input #newPassword1 type="password" value="" (change)="changePassword('new1', newPassword1.value)">
    </div>
    <div>Repetez</div>
    <div>
      <input #newPassword2 type="password" value="" (change)="changePassword('new2', newPassword2.value)">
    </div>
    <div>
      <button (click)="updatePassword()">Confirmer</button>
    </div>
  </div>
</div>
<div *ngIf="isCreation" class="user">
  <div>Username</div>
  <div><input #inputUsername type="text" value="" (change)="user.username = inputUsername.value"></div>
  <div>Alias</div>
  <div><input #inputAlias type="text" value="" (change)="user.alias = inputAlias.value"></div>
  <div>Mot de passe</div>
  <div><input #newPassword1 type="password" value="" (change)="changePassword('new1', newPassword1.value)"></div>
  <div>Repetez</div>
  <div><input #newPassword2 type="password" value="" (change)="changePassword('new2', newPassword2.value)"></div>
  <div>Roles</div>
  <div>
    <div *ngFor="let role of roles">
      <input #roleInput type="checkbox" id="role_{{ role }}" (change)="updateRole(role, roleInput.checked)">
      <label for="role_{{ role }}">{{ role }}</label>
    </div>
  </div>
</div>
