.user {
  width: 21cm;
  background-color: #999;
  border: 1px solid #666;
  padding: 2em;
  box-sizing: border-box;
}

.actions {
  text-align:right;
}

.actions button {
  border: 1px solid #333333;
  border-radius: 0.5em;
  background-color: #dddddd;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0.2em;
}

.actions button.delete {
  animation: dblink 1.2s infinite;
}

@keyframes dblink {
  0%,50% {background-color: #cc0000;}
  50%,75% {background-color: #dddddd;}
  75%,100% {background-color: #cc0000;}
}

input[type=text] {
  background-color: #fff;
}

input:read-only {
  background-color: #bbb;
}

