<nav *ngIf="me">
  <div class="user">
    <fa-icon [icon]="iconUser" />
    <a class="link" [routerLink]="['/user', me.username]">{{ me.alias || me.username }}</a>
    <button (click)="logout()" title="Déconnexion" class="icon-button"><fa-icon [icon]="iconLogout" /></button>
  </div>

  <div class="title" *ngIf="me.roles?.includes(Role.Admin)">
    <a class="link" [routerLink]="['/users']">
      <fa-icon [icon]="iconUsers" />
      Utilisateurs
    </a>
  </div>

  <div class="campains">
    <div class="title"><fa-icon [icon]="iconCampain" /> Campagnes (MJ)</div>
    <div *ngFor="let campain of gmCampains">
      <a [routerLink]="['/campain', campain.id]" class="campain link campainName">
        {{ campain.name === "" ? "Campagne sans nom": campain.name }}
      </a>
      <div *ngFor="let sheet of campain.pcSheets">
        <a [routerLink]="['/sheet', sheet.id]" class="campainsheet link notmine">
          <app-icon [icon]="metadata[sheet.game!].icon!" *ngIf="metadata && metadata[sheet.game!]?.icon" />
          {{ sheet.name === "" ? "Fiche sans nom" : sheet.name }}
        </a>
      </div>
      <div *ngIf="campain.npcSheets.length" class="campainNpcs">
        <div class="subtitle">PNJ</div>
        <div *ngFor="let sheet of campain.npcSheets">
          <a [routerLink]="['/sheet', sheet.id]" class="campainsheet link mine">
            <app-icon [icon]="metadata[sheet.game!].icon!" *ngIf="metadata && metadata[sheet.game!]?.icon" />
            {{ sheet.name === "" ? "Fiche sans nom" : sheet.name }}
          </a>
        </div>
      </div>
    </div>
    <a [routerLink]="['/campain', 'new']" class="link new"><fa-icon [icon]="iconAdd" /> Nouvelle campagne</a>
  </div>

  <div class="campains" *ngIf="playerCampains.length">
    <div class="title"><fa-icon [icon]="iconCampain" /> Campagnes (PJ)</div>
    <div *ngFor="let campain of playerCampains">
      <a [routerLink]="['/campain', campain.id]" class="campain link">
        <div class="campainName">{{ campain.name === "" ? "Campagne sans nom": campain.name }}</div>
        <div class="gmName">({{ campain.gmName }})</div>
      </a>
      <div *ngFor="let sheet of campain.sheets">
        <a [routerLink]="['/sheet', sheet.id]" class="campainsheet link">
          <fa-icon [icon]="iconCharacter" *ngIf="!sheet.mine" />
          <app-icon [icon]="metadata[sheet.game!].icon!" *ngIf="metadata && metadata[sheet.game!]?.icon" />
          {{ sheet.name === "" ? "Fiche sans nom" : sheet.name }}
        </a>
      </div>
    </div>
  </div>

  <div class="sheets">
    <div class="title">
      <div><fa-icon [icon]="iconCharacter" /></div>
      <div>Personnages</div>
      <div><input #chkAllSheets type="checkbox" (change)="allSheets = chkAllSheets.checked"
          title="Afficher aussi les fiches incluses dans une campagne" /></div>
    </div>
    <div *ngFor="let sheet of sheets">
      <a [routerLink]="['/sheet', sheet.id]" class="link">
        <fa-icon [icon]="iconDeprecated" *ngIf="sheet.deprecated" />
        <app-icon [icon]="metadata[sheet.game!].icon!" *ngIf="metadata && metadata[sheet.game!]?.icon" />
        {{ sheet.name === "" ? "Fiche sans nom" : sheet.name }}
      </a>
    </div>
    <div>
      <a [routerLink]="['/sheet', 'new']" class="link new"><fa-icon [icon]="iconAdd" /> Nouvelle feuille</a>
    </div>
  </div>

</nav>