nav {
  background-color: #ffffff;
}

.user {
  text-align: right;
}

.user div {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.campains, .sheets {
  margin-top: 1em;
}

.link {
  cursor: pointer;
  display: inline-block;
}

.icon-button {
  border: 1px solid #333333;
  border-radius: 0.5em;
  background-color: #dddddd;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0.2em;
}

.campainsheet {
  margin-left: 1em;
}
